*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Product Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-bottom: 40px;
}

main {
    flex: 1 1 0;
}
.cabeçalho {
    display: flex;
    justify-content: space-between;
    margin-right: 28px;
    margin-left: 28px;
}
.container1 {
    display: flex;
    margin-top: 21px;
    align-items: center;
}
.logo img{
    width: 94px;
    margin-right: 31px;
}

.pesquisa input{
    position: absolute;

}

.pesquisa #lupa{
    position: absolute;
    margin-left: 635px;
    margin-top: 14px;
    width: 20px;
}

.pesquisa #microfone {
    width: 11px;
    height: 16px;
    margin-top: 16px;
    margin-left: 610px;
    position: absolute;
}

.pesquisa #teclado {
    position: absolute;
    width: 22px;
    height: 22px;
    margin-top: 12px;
    margin-left: 575px;
}


.pesquisa input {
    width: 674px;
    height: 49px;
    border: 1px solid #ededed;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
}
.pesquisa input:focus{
    outline-color: #ededed;
}


.container2{
    display: flex;
    align-items: center;
}

.botao div{
    display: flex;  
    
} 

.fileiras div {
    background-color: #929599;
    border: 1px solid #929599;
    height: 5px;
    width: 5px;
    margin-right: 1px;
    margin-top: 1px;
   
}
.gmail {
    display: flex;
    align-items: center;
}

.gmail img {
    object-fit: cover;
    margin-left: 22px;
    height: 30px;
    width: 30px;
    border-radius: 28px;
}

.opcoes  {
    display: flex;
    margin-top: 60px;
    padding-bottom: 18px;
    color: #979797;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}
.opcoes div {
    margin-right: 37px;
}

.opcoes #primeiro a{
    margin-left: 161px;
    color: #1f5bc6;
    padding-bottom: 14px;
   
    
}

.borda {
    border-top: 3px solid #1f5cc0;
    margin-top: 17px;
    position: absolute;
    margin-left: 131px;
    width: 87px;
}

.opcoes a{
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
    text-shadow: 0px 0px 0.5px;
   

}

.quantidade {
    color: #70757a;
    margin-left: 161px;
    line-height: 43px;
    font-size: 12px;
}

.resultado {
    margin-left: 161px;
    width: 608px;
    
}

 .esp  {
    margin-top: 40px;
    margin-bottom: 0px;
}

.rformgren {
    border-style: none;
    color: #377c4e;
    font-weight: 600;
    font-family: Arial;
    
}


.links {
    display: flex;
    
}

.links a{
    margin-right: 5px;
    text-decoration: none;
    
}

.rform {
    width: 100px;
    color: #767676;
    font-family: Arial;
    font-size: 14px;
    font-weight: 500;
    
}

.pezinho {
    display: flex;
    justify-content: center;

}

.tt {
    color: #312f31;
    text-align: left;
    margin-left: 161px;
    margin-top: 53px;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 600;
}

.pezinho {
    display: flex;
    justify-content: space-around;
}
.outros, .outros2 {
    display: flex;
    flex-direction: column;
    color: #2c218c;
    font-weight: 600;
}
.outros {
    flex:1;
    margin-left: 161px;
    margin-right: 30px;
}

.outros2 {
    flex: 3;
}

.google {
    font-size: 30px;
    margin-top: 70px;
    margin-left: 267px;
    font-weight: 600;
}

.paginas {
    display: flex;
    margin-left: 291px;
    
}


.paginas a {
    margin: 5px;
    text-decoration: none;
    color: #9eb3e3;
}

#aescu {
    color: #525052;
}

#mais {
    color: #768fc9;
    margin-left: 18px;
    text-decoration: underline;
}

.google #menor {
    margin-left: 10px;
    font-size: 19px;

}

#amarelo {
    color: #eabf55;

}

.g ,.g{
    color: #698ce7;
}

.o {
    color: #ce3a32;
}

